<div class="container-sm my-4 border border-3 rounded p-4">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="email" class="form-control" id="title" placeholder="title of the blog">
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="d-grid gap-2 d-md-block mb-3">
        <button class="btn btn-primary" type="button">Post</button>
        <button class="btn btn-primary" type="button">Cancel</button>
    </div>
</div>